body {
    background: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}
.box{
    color: white;
    display: flex;
    height: 650px;   
    flex-direction: column;
    text-align: center;
    justify-content: center;   
    
}
.boxShadow{
    background-color: rgb(41, 41, 41);
    box-shadow: 10px 10px 5px black;
    height: 370px;
    width: 550px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
#title{
    font-size: 35px;    
    padding: 20px;
}
select:optional {
    width: 150px;
    text-align: center;
}
label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

input[type="color"]{
    width: 150px;

}

